<div class="container"> 
  <h2>用户一览</h2>

    <div class="col-md-12">
  
      <table class="table table-hover">
        <thead>
          <tr>
           	  <td>用户邮箱</td>
           	  <td>操作</td>
           </tr>
        </thead>
    
        <tbody>
           <% @users.each do |user| %>
          		<tr>
           			<td><%= user.email %></td>

           			<td>
                  <% if current_user.friends.include?(user) %>
                    <%= link_to("删除好友", friendships_destroy_path(:friend_id => user), method: :post, class: "btn btn-sm btn-default") %>
                  <% else %>
           				   <%= link_to("加为好友", friendships_create_path(:friend_id => user), method: :post, class: "btn btn-sm btn-default") %>
                  <% end %>
           			</td>

					
				</tr>
			<% end %>

         </tbody>

      </table>

    </div>
</div>

